<<<<<<< HEAD


{   .footer 
    color: #141432;
    background: #EEEEEE
}

{   .button 
    width: 20px;
}
=======
@import "scss/content.scss";
@import "scss/footer.scss";
@import "scss/header.scss";
>>>>>>> 72cb52f5a0e46b326cac4a6cbc70f3ab0aaaaf90
